@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;

}

body {
<<<<<<< HEAD
    background-image: url('images/bg-tablet-pattern.svg'), url('images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-position: 1000px -150px, -420px 1120px;

}

/* Default designs start here */
.nav-bar a:hover {
    color: hsl(227, 12%, 61%);
}

.footer-grid a:hover {
    color: hsl(12, 88%, 59%);
}

.btn-1:hover {
    background-color: hsl(13, 100%, 96%);
}

.bx-sh {
    box-shadow: 0px 9px 13px hsl(12, 88%, 59%);

}

.s-around {
    align-content: space-between;
}

.rg {
    row-gap: 50px !important;
}

.rgs {
    row-gap: 22px !important;
}

.items-end {
    align-items: end;
}

.flex {
=======
    background-image: url('images/bg-tablet-pattern.svg'),url('images/bg-tablet-pattern.svg');
    background-repeat:no-repeat;
    background-position: 1000px -150px, -370px 1100px;
 
}

/* Default designs start here */
.rg{
    row-gap: 50px !important;
}
.rgs{
    row-gap: 22px !important;
}
.items-end{
    align-items: end;
}
.flex{
>>>>>>> 160d667d4390458cd5950b4b987305006faba802
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb {
    margin-bottom: 70px;
}

.mt {
    margin-top: 120px;
}

.bg-black {
    background-color: hsl(233, 12%, 13%);
    height: fit-content;
}

.container {
    padding: 5px 180px;
    width: 100%
}

.container-fluid {
    width: 100%;
}

.btn {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 700;
    background: hsl(12, 88%, 59%);
    color: hsl(0, 0%, 98%);
}

.heading {
    font-weight: 700;
    font-size: 50px;
    color: hsl(228, 39%, 23%);
}

.sub-heading {
    font-weight: 700;
    font-size: 30px;
    color: hsl(228, 39%, 23%);
}

.heading2 {
    font-weight: 700;
    font-size: 16px;
    color: hsl(228, 39%, 23%);
}

.sub-text {
    margin: 30px 0px;
    width: 60%;
}

.text {
    font-weight: 400;
    font-size: 16px;
    text-align: start;
    line-height: 1.5;
    color: hsl(227, 12%, 61%);
}

.grid-box {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20%;
}

.feature-no {

    outline: none;
    border: none;
    padding: 7px 20px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 700;
    background: hsl(12, 88%, 59%);
    color: hsl(0, 0%, 98%);

}

a {
    text-decoration: none;
}

/* Default design ends here  */

.nav-bar {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: space-between;
    padding: 40px 0px 0px 0px;
}

.logo,
.nav-links {
    margin: 13px 0px;
}

.logo {}

.nav-links {
    >a {
        color: hsl(228, 39%, 23%);
        font-weight: 700;
        font-size: 19px;
        margin: 0 15px;

    }
}

.hamburger-open {
    display: none;
}

.jumbotron {
    padding-top: 50px;
    width: 50%;
}

.jumbotron-head {}

.charts {
    width: 50%;

}

.features {
    display: flex;
    flex-direction: row;

}

.features-main {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.feature-head {
    width: 60%;
}

.feature-body {
    padding-right: 30px;
}

.feature-list {
    /* border: 1px solid red; */
    width: 65%;
    display: flex;
    flex-direction: column;
}

.feature {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    margin-bottom: 30px;
}

.feature-text {
    margin-top: 3px;
    width: 100%;
}

.feature-text-body {
    padding-right: 40px;

    >p {
        margin-top: 15px;
    }
}

.testimonials {
    display: flex;
    /* flex-direction: row; */
    /* column-gap: 100px; */
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.testimonial {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    width: 35%;
    margin: 50px 30px 50px 30px;
    padding: 0px 35px 50px 35px;
}

.testimonial-img {
    margin-top: -40px;
    text-align: center;


    >img {
        width: 60%;
        height: 60%;
    }
}

.testimonial-heading {
    text-align: center;
}

.testimonial-text {
    >p {
        text-align: center;
    }
}

.banner {
    background-color: hsl(12, 88%, 59%);
}

.pre-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 150px;
}

.pre-footer-text {
    width: 30%;

    >h2 {
        color: hsl(0, 0%, 98%);
    }
}

.pre-footer-btn {
    >button {
        color: hsl(12, 88%, 59%);
        background-color: hsl(0, 0%, 98%);
    }
}

.footer-grid-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    padding: 25px 150px;
<<<<<<< HEAD

=======
    
>>>>>>> 160d667d4390458cd5950b4b987305006faba802
    /* column-gap: 30px; */
}

.footer-grid {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    row-gap: 10px;
    /* align-items: start;
    justify-items: center; */
}
<<<<<<< HEAD

.subscribe {
=======
.subscribe{
>>>>>>> 160d667d4390458cd5950b4b987305006faba802
    display: flex;
    flex-direction: row;
    column-gap: 10px;

    > input {
        padding: 10px 25px;
        border: none;
        border-radius: 25px;
    }

}

.footer-grid,
:any-link {
    color: hsl(0, 0%, 98%);
}

.socials {
    >i {
        font-size: 20px;
        margin: 0px 5px;
    }
}

.footer__copyright {
    margin-top: 25px;

    >p {
        font-size: 8px;
        color: hsl(227, 12%, 61%);
        padding-left: 90px;
    }
}


/* 






/* Media Query For Mobile */
@media only screen and (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
    }

    .container {
        width: 100vw;
        flex-direction: column;
        margin: 0;
        padding: 5px 30px;
    }

    .container-fluid {
        width: 100vw;
        flex-direction: column;

    }

    .nav-bar {
        padding: 5px 0px;
        margin: 0;
        width: 100%;
        justify-content:space-around;

    }

    .logo{
        margin: 13px 0 0 0;
    }

    .nav-links a {
        display: none;
    }

    .nav-action-btn {
        >button {
            display: none;
        }

        >img {
            display: block;
            padding-top: 13px;
        }
    }

    .grid-box {
        flex-direction: column;
        width: 100vw;
    }

    .testimonials {
        flex-direction: column;
    }

    .footer-grid-box {
        flex-direction: column;
        width: 100%;
    }

    .charts {
        text-align: center;
        width: 100%;
        >img {
            width: 340px;
            height: 350px;
        }
    }

    .grid-rev{
        flex-direction: column-reverse;
    }

    .jumbotron {
        padding-top: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    
    .jumbotron-head {
        width: 100%;
        > h2{
            font-size: 30px;
            text-align: center;
        }
    }
    
    .charts {
        width: 100%;
    
    }
    
    .features {
        display: flex;
        flex-direction: column;
        
        
    
    }
    
    .features-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  
    }
    

    
    .feature-body {
        padding-right: 0px;
    }
    
    .feature-list {
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .feature {
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 25px;
        margin-bottom: 30px;
    }
    
    .feature-text {
        margin-top: 3px;
        width: 100%;
    }
    
    .feature-text-body {
        padding-right: 0px;
    
        >p {
            margin-top: 15px;
        }
    }
    


    /* Typography style */
    .btn {
        cursor: pointer;
        outline: none;
        border: none;
        padding: 15px 30px;
        border-radius: 25px;
        font-size: 12px;
        font-weight: 700;
        background: hsl(12, 88%, 59%);
        color: hsl(0, 0%, 98%);
    }
    
    .feature-head {
        width: 90vw;
        margin: 0 auto;
        > h2{
            
            font-weight: 700;
            font-size:45px;
        }
    }
    .heading {
        font-weight: 700;
        font-size: 45px;
        color: hsl(228, 39%, 23%);
    }
    
    .sub-heading {
        font-weight: 700;
        font-size: 30px;
        color: hsl(228, 39%, 23%);
    }
    
    .heading2 {
        font-weight: 700;
        font-size: 16px;
        color: hsl(228, 39%, 23%);
    }
    
    .sub-text {
        margin:0px;
        text-align: center;
        width: 100vw;
    }
    .text{
        font-size: 20px;
    }
    
    
}
